# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'DiffTracer'
        # Default value if no value is explicitly provided
        default: 'all'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v4
    - uses: julia-actions/setup-julia@v2
      with:
        version: '1.10' # Installs the latest stable 1.x version
    
    # Runs a single command using the runners shell
    # - name: install-julia
    #   run: curl -fsSL https://install.julialang.org | sh -s -- --yes
    # - name: juliaup-var
    #   run: export PATH="/home/runner/.juliaup/bin:$PATH"
    # - name: add-julia-version
    #   run: juliaup add 1.10
    - name: git-clone
      run: git clone https://github.com/jeremyiwk/DiffTracer.jl.git
    - name: install-package
      run: julia -e 'using Pkg; Pkg.activate("DiffTracer.jl"); Pkg.test()'
